////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Background Blur styles
//

/**
 * Create a blurred background. This does not make an element transparent. It only blurs it. Use jsl-bgAlpha-XY to also make
 * something transparent.
 */

// Base for all blurred BG
.jsl-bgBlur-Base {
    transition-duration: 0.5s;
    transition-property: backdrop-filter;
}

@mixin jsl-bgBlur-x($from, $to, $scale) {
  @for $i from $from through $to {
    .jsl-bgBlur-#{$scale * $i} {
        @extend .jsl-bgBlur-Base;
        backdrop-filter: blur(#{$scale*$i}px);
    }
  }
}

// Make from 0 to 10 in 1px steps
// Generates
// .jsl-bgBlur-0,
// .jsl-bgBlur-1,
// ...
// .jsl-bgBlur-9,
@include jsl-bgBlur-x(0, 9, 1);

// Make from 10 to 100 in 10px steps
// Generates
// .jsl-bgBlur-10,
// .jsl-bgBlur-20,
// ...
// .jsl-bgBlur-100,
@include jsl-bgBlur-x(1, 10, 10);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Background Alpha styles
//

@mixin jsl-bgAlpha-x($from, $to, $scale, $color, $name) {
  @for $i from $from through $to {
    .jsl-bgAlpha-#{$name}-#{$scale * $i} {
        background-color: rgba($color, calc($scale * $i / 100.0)) !important;
    }
  }
}

// Make from 0 to 10 in 1px steps
// Generates
// .jsl-bgAlpha-black-0,
// .jsl-bgAlpha-black-1,
// ...
// .jsl-bgAlpha-black-9,
@include jsl-bgAlpha-x(0, 9, 1, #000000, "black");

// Make from 10 to 100 in 10px steps
// Generates
// .jsl-bgAlpha-black-10,
// .jsl-bgAlpha-black-20,
// ...
// .jsl-bgAlpha-black-100,
@include jsl-bgAlpha-x(1, 10, 10, #000000, "black");


// As .jsl-bgBlur-black-... but white
@include jsl-bgAlpha-x(0, 9, 1, #ffffff, "white");
@include jsl-bgAlpha-x(1, 10, 10, #ffffff, "white");

// As .jsl-bgBlur-black-... but theme background
@include jsl-bgAlpha-x(0, 9, 1,  var(--v-theme-background), "background");
@include jsl-bgAlpha-x(1, 10, 10, var(--v-theme-background), "background");

// As .jsl-bgBlur-black-... but theme surface
@include jsl-bgAlpha-x(0, 9, 1,  var(--v-theme-surface), "surface");
@include jsl-bgAlpha-x(1, 10, 10, var(--v-theme-surface), "surface");

// As .jsl-bgBlur-black-... but theme primary
@include jsl-bgAlpha-x(0, 9, 1,  var(--v-theme-primary), "primary");
@include jsl-bgAlpha-x(1, 10, 10, var(--v-theme-primary), "primary");

// As .jsl-bgBlur-black-... but theme secondary
@include jsl-bgAlpha-x(0, 9, 1,  var(--v-theme-secondary), "secondary");
@include jsl-bgAlpha-x(1, 10, 10, var(--v-theme-secondary), "secondary");


