////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Customizations
//

@import "fonts.scss";
@import "scrollbars.scss";
@import "background.scss";

html {
    // This hides scroll if not needed. To avoid that the initial overlay is overlaid with a scrollbar, set this to auto
    // and use ScrollbarStyle.vue to configure it once the app is mounted.
    overflow: auto;

    // Custom scrollbar?
    // > Check ScrollbarStyle.vue
}

body {
    // If you use the jsl App component, this is not needed. If not, this ensures that the body has no margin.
    margin: 0;
}

// Force this content to be max in size
.jsl-fullsizeContent {
    padding: 0;
    margin: 0;
    // max-width: 20000px !important;
    height: 100% !important;
    width: 100% !important;
    align-items: baseline !important;
}

// for v-text-field inputs with jsl-extendedMessages, make the message field larger (suitable for two lines).
.v-input.jsl-extendedMessages-2 .v-messages {
    min-height: 2.1em;
}

// for v-text-field inputs with jsl-extendedMessages, make the message field larger (suitable for two lines).
.v-input.jsl-extendedMessages-3 .v-messages {
    min-height: 3.1em;
}

// This is an experiment: when a dialog opens, it blocks scrolling. This causes the appbar to resize.
// This tried to eleviate that but did not work (still caused visible resize).
/*.v-overlay-scroll-blocked header.v-toolbar{
    padding-right: 0.5rem;
    transition-duration: 0.1s;
    transition-property: padding;
}*/
